{% block referencing_guarantor_widget %}
    {% spaceless %}
        <div id="{{ form.vars.id }}" class="single-application-block minimise-outer">
            <div class="section-toolbar">
                <a class="badge badge-primary pull-left minimise-button"><i class="fa fa-minus-circle"></i> Collapse Guarantor</a>
                <a class="badge badge-danger pull-right remove-from-collection">Remove <i class="fa fa-times-circle"></i></a>
                <div class="clearfix"></div>
            </div>

            <div class="single-application-section minimise-content">
                {{ form_row(form.isVisible) }}
                {{ form_row(form.title) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.middleName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.otherName) }}
                {{ form_row(form.birthDate) }}
                {{ form_row(form.email) }}
                {{ form_row(form.completionMethod) }}
                {{ form_row(form.rentShare, {'label' : 'Monthly share of rent (£s)'}) }}

                {# complete now only  #}
                {% if form.residentialStatus is defined %}
                    {{ form_row(form.residentialStatus) }}
                {% endif %}

                {% if form.employmentStatus is defined %}
                    {{ form_row(form.employmentStatus) }}
                {% endif %}

                {% if form.grossIncome is defined %}
                    {{ form_row(form.grossIncome) }}
                {% endif %}

                {% if form.bankAccount is defined %}
                    {{ form_row(form.bankAccount) }}
                {% endif %}

                {% if form.phone is defined %}
                    {{ form_row(form.phone) }}
                {% endif %}

                {% if form.mobile is defined %}
                    {{ form_row(form.mobile) }}
                {% endif %}

                {% if form.hasCCJ is defined %}
                    {{ form_row(form.hasCCJ) }}
                {% endif %}

                {% if form.lettingReferee is defined %}
                    <div id="{{ form.vars.id }}-letting-referee">
                        <h4>Letting referee</h4>
                        {{ form_errors(form.lettingReferee) }}
                        {{ form_widget(form.lettingReferee) }}
                    </div>
                {% endif %}

                {% if form.addressHistories is defined %}
                    <div class="address-history" id="{{ form.vars.id }}-address-history">
                        <div class="form-group collection">
                            <h4 class="section-heading">Address history
                                <a class="badge pull-right add-to-collection"
                                   data-prototype="{{ form_widget(form.addressHistories.vars.prototype)|e }}"
                                   data-collectionid="{{ form.addressHistories.vars.id }}"
                                   data-prototype-name="__guarantorpreviousaddressname__"><i class="fa fa-plus-circle"></i> Add</a>
                            </h4>

                            <div class="form-group-section">
                                {{ form_errors(form.addressHistories) }}
                                {{ form_widget(form.addressHistories) }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if form.financialReferees is defined %}
                    <div class="financial-referees" id="{{ form.vars.id }}-financial-referees">
                        <div class="form-group collection">
                            <h4 class="section-heading">Financial referees
                                <a class="badge pull-right add-to-collection"
                                   data-prototype="{{ form_widget(form.financialReferees.vars.prototype)|e }}"
                                   data-collectionid="{{ form.financialReferees.vars.id }}"
                                   data-prototype-name="__guarantorfinancialrefereename__"><i class="fa fa-plus-circle"></i> Add</a>
                            </h4>

                            <p>
                                Please provide financial referees for this guarantor. You may provide two current referees (past date)
                                and one future referee (future date). Pension administrators are considered current referees.
                            </p>

                            <div class="form-group-section">
                                {{ form_errors(form.financialReferees) }}
                                {{ form_widget(form.financialReferees) }}
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}