{% extends 'base.html.twig' %}

{% block javascripts %}
    {% javascripts
        '@BarbonHostedApiAppBundle/Resources/public/js/debug/*'
        '@BarbonHostedApiLandlordDebugBundle/Resources/public/js/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="container form-inline" style="border: 1px solid #9B9B9B; border-radius: 5px;">
        <div class="row" style="padding-top: 15px;">
            <div class="col-md-12">
                POST {{ scheme }}://{{ hostname }}/


                <div class="form-group">
                    <label class="sr-only" for="requestBase">Base</label>
                    <select id="requestBase" class="form-control">
                        <option value="app_dev.php">app_dev.php</option>
                        <option value="app.php">app.php</option>
                    </select>
                </div>

                /

                <div class="form-group">
                    <label class="sr-only" for="requestClient">Action</label>
                    <select id="requestClient" class="form-control">
                        <option value="system">system</option>
                    </select>
                </div>

                /

                <div class="form-group">
                    <label class="sr-only" for="requestAction">Action</label>
                    <select id="requestAction" class="form-control">
                        <option value="authentication/mac/landlord">authentication/mac/landlord</option>
                    </select>
                </div>
            </div>
        </div>

        <form id="requestForm" method="post">
            <div id="requestFields"></div>
        </form>

        <div class="row" style="padding-top: 15px;">
            <div class="col-md-5 form-group">
                <label class="sr-only" for="requestFieldName">Field name</label>
                <input id="requestFieldName" type="text" name="fieldName" class="form-control" placeholder="Field name" style="width: 100%;">
            </div>

            <div class="col-md-6 form-group">
                <label class="sr-only" for="requestFieldValue">Field value</label>
                <input id="requestFieldValue" type="text" name="fieldValue" class="form-control" placeholder="Field value" style="width: 100%;">
            </div>

            <div class="col-md-1">
                <button type="button" id="addField" class="btn btn-default">Add</button>
            </div>
        </div>

        <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
            <div class="col-md-12" style="text-align: right;">
                <button id="loadSampleData" type="button" class="btn btn-default">Load data</button>
                <button id="submitRequest" type="button" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>

    <script>
        function submitForm()
        {
            addRequestField();

            var requestBase = $('#requestBase').val();
            var requestClient = $('#requestClient').val();
            var requestAction = $('#requestAction').val();

            var action = '{{scheme}}://{{hostname}}/' + requestBase + '/' + requestClient + '/' + requestAction;

            $('#requestForm').attr('action', action).submit();
        }

        function loadSampleData()
        {
            var requestClient = $('#requestClient').val();
            var requestAction = $('#requestAction').val();
            var url = '/bundles/barbonhostedapilandlorddebug/input-data/landlord/vendor-auth' + '.json?' +
                    ((Math.random() * 10000) + 1);

            $.getJSON(url, function(sampleData) {
                var requestFieldName = $('#requestFieldName');
                var requestFieldValue = $('#requestFieldValue');

                for (var prop in sampleData) {
                    if (sampleData.hasOwnProperty(prop)) {
                        var fieldValue = sampleData[prop]
                            .replace(/\{scheme\}/g, '{{ scheme }}')
                            .replace(/\{hostname\}/g, '{{ hostname }}')
                            .replace(/\{basepath\}/g, '{{ basepath }}')
                        ;

                        requestFieldName.val(prop);
                        requestFieldValue.val(fieldValue);

                        addRequestField();
                    }
                }
            });
        }
    </script>
{% endblock %}
