{% extends _isXmlHttpRequest ? "ajax-base.html.twig" : "rent-guarantee-base.html.twig" %}

{% block breadcrumbs %}
    <ul id="connect_breadcrumb">
        <li class="home"><a href="/">Connect</a></li>
        <li class="last"><a href="/rentguarantee">Rent Guarantee &amp; Eviction Services</a></li>
        <li class="current_page">Rent Recovery Plus Application</li>
    </ul>
{% endblock %}

{% block body %}
    <div class="content">
        <p>
            Thank you for purchasing an RRP policy, your policy number is {{ policyNumber }}.
            You will receive your documents by email within the next 24 hours.
            If there is any additional information you feel we should be made aware of please email details to
            <a href="mailto:{{ emailQueryAddress }}?subject=RRPI%20Application%20Query%20for%20{{ policyNumber }}" title="{{ emailQueryAddress }}">{{ emailQueryAddress }}</a>.
        </p>
    </div>
{% endblock %}
