<div class="col-xs-12">
    <p>
        {% if customHeaderText is not null %}
            {{ customHeaderText }}
        {% else %}
            Registration header text. This text can be customised.
        {% endif %}
    </p>

    <div class="authentication-form">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="panel panel-default">
                <div class="panel-heading">Personal Details</div>
                <div class="panel-body">
                    {{ form_row(form.title) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.dayPhone) }}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Your Correspondence Address</div>
                <div class="panel-body">
                    <div class="authentication-address-block">
                        {{ form_label(form.address) }}
                        {{ form_widget(form.address) }}
                        {{ form_errors(form.address) }}
                        <a id="add-manual-address">Add address manually</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Create login details</div>
                <div class="panel-body">
                    <p>In order to create an account, please choose an e-mail and password. These will be used for logging in to the system.</p>
                    {{ form_row(form.email) }}
                    <div class="form-group helpable-field">
                        {{ form_label(form.password, 'Choose a password')}}
                        {{ form_widget(form.password) }}
                        <div class="field-help">
                            <div class="pointer"></div>
                            <i class="fa fa-info-circle"></i> Password must be at least 8 characters and contain at least 1 upper case character and at least 1 numeric digit.
                        </div>
                        {{ form_errors(form.password) }}
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>

<div class="clearfix"></div>

<script>
    $('#add-manual-address').click(function(){
        $('.address-lines').css('display', 'inline');
        $('#add-manual-address').css('display', 'none');
    });
</script>